__pycache__/
.DS_Store
main
.idea
mythic_go_services.bin
Payload_Type/python_services/rango/agent_code/.zig-cache/*
Payload_Type/python_services/rango/agent_code/zig-out/bin/rango
Payload_Type/python_services/rango/agent_code/src/config.zig
